{% extends "layout.html" %}

{% block title %}
Archive
{% endblock %}

{% block main %}
<div class="containter-fluid fs-6">
    {% for week in weeks %}
    <h1>Week {{ week }}</h1>
    <table class="table text-sm-center">
        <thead>
            <tr>
                <th scope="col">Workout</th>
                <th scope="col">Date</th>
                <th scope="col">Workout Details</th>
            </tr>
        </thead>
        {% for workout in workouts %}   
        {% if workout.week  ==  week %}
        <tr>
            <td>{{ workout.day }}</td> 
            <td>{{ workout.date }}</td>
            <td><a href="workout/{{ workout.id }}"><button class="btn btn-success">Goto Workout</button></a></td>       
        </tr>
        {% endif %}
        {% endfor %}
    </table>
    {% endfor %}
</div>
{% endblock %}
