{% extends "layout.html" %} 

{% block title %} 

Compare

{% endblock %} 

{% block main %}

<div class="text-center d-flex justify-content-center">
    <form action="/compare" method="post">
        <input name="week_a" id="week_a" placeholder="First Week">
        <input name="week_b" id="week_b" placeholder="Second Week">
        <select class="form-select" id="day" name="day">
            {% for day in days %}
            <option value="{{ day }}">{{ day }}</option>
            {% endfor %}
        </select>
        <select name="exercise" id="exercise" placeholder="Exercise">

        </select>
        <button class="btn btn-dark" type="submit">Compare Exercise</button>
    </form>
</div>

{% if exercise_a %}
<h1>{{ exercise_a.name }}</h1>
<table class="table text-sm-center">
    <tr>    
        <th scope="col">Week</th>
        <th scope="col">Reps</th>
        <th scopr="col">Weight</th>
    </tr>
        <tr>
        <td>{{ week_a }}</td>
        <td>{{ exercise_a.sets }}</td>
        <td>{{ exercise_a.weight }}</td>
    </tr>
    <tr>
        <td>{{ week_b }}</td>
        <td>{{ exercise_b.sets }}</td>
        <td>{{ exercise_b.weight }}</td>
    </tr>
</table>
{% endif %}

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>

const exerciseSelect = document.getElementById("exercise");

exerciseSelect.addEventListener("change", () => {

    const xhr = new XMLHttpRequest();

    xhr.onreadystatechange = function () {  

        if (xhr.readyState == 4) {

            if (xhr.status == 200) {
                exerciseSelect.innerHTML = xhr.responseText;
            }
        }
}
    xhr.open('get', exercise.html,true );
    xhr.send()

})



</script>

{% endblock %}