{% extends "layout.html" %}

{% block title %}
Index
{% endblock %}

{% block main %}
<div class="containter-fluid fs-6">
    <table class="table text-sm-center">
        <thead>
            <tr>
                <th scope="col">Workout</th>
                <th scope="col">Date</th>
                <th scope="col">Workout Details</th>
            </tr>
        </thead>
        {% for day in days %}
        <tr>
            <td scope="col">{{ day }}</td>
            <form action="/dayworkout" method="post">
                <td><button class="btn btn-primary" type="submit">Workout for {{ day }}</button></td>
                <input type="hidden" name="day" value="{{ day }}" />
            </form>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
