{% extends "layout.html" %}

{% block title %}
Index
{% endblock %}

{% block main %}
<div class="containter-fluid fs-6">
    <table class="table text-sm-center">
        <thead>
            <tr>
                <th scope="col">Workout</th>
                <th scope="col">Date</th>
                <th scope="col">Workout Details</th>
            </tr>
        </thead>
        {% for day in days %}
        <tr>
            <th scope="col">{{ day }}</th>
            <td><button class="btn btn-primary>" href="/newworkout">Workout</button></td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <div class="container text-center">
        <form action="/" method="post">
            <button class="btn btn-primary" type="submit" >Add Workout</button>
        </form>
    </div>
</div>
{% endblock %}
