{% extends "layout.html" %} 
{% block title %} Routine {% endblock %} 

{% block main %}
<h1>Weekly Routine</h1>

<div class="hstack gap-3 d-flex justify-content-center">
    <form method="post" action="/routine">
        <br>
        <div class="form-floating">
        <select class="form-select" id="day" name="day">
            <option value="saturday">Saturday</option>
            <option value="sunday">Sunday</option>
            <option value="monday">Monday</option>
            <option value="tuesday">Tuesday</option>
            <option value="wednesday">Wednesday</option>
            <option value="thursday">Thursday</option>
            <option value="friday">Friday</option>
        </select>
        <label for="day">Select a day</label>
        </div>
        <div class="input-group mb-3">
            <input type="text" autocomplete="off" class="form-control" name="exercise" id="exercise" placeholder="Enter Exercise to Add">
            <button class="btn btn-primary mx-auto" id="set-submit" type="submit">Add Exercise</button>
        </div>
    </form>
</div>


{% for day in days %}

<table>
    <div class="container-fluid text-sm-center">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">{{ day }}</th>
                {% for exercise in exercises %}
                {% if exercise.day == day %}
                <th scope="col">
                    <a type="button" class="close" href="#" onclick="return confirmDeleteExercise('{{ day }}', '{{ exercise.exercise }}')"><span aria-hidden="true">&times;</span></a>
                    {{ exercise.exercise }}
                </th>
                    {% endif %} 
                {% endfor %}
            </tr>
            </thead>
        </table>
    </div>
</table>
{% endfor %}

{% endblock %}