{% extends "layout.html" %} 

{% block title %} 

Workout For {{ workout.day }} 

{% endblock %} 


{% block main%}
<br />
<div style="text-align: center;">
<h1 class="display-4 text-center fw-bold">{{ workout.day }} Workout</h1>
<input name="date" id="date" type="date" value="{{ workout.date }}" onchange="updateDate({{ workout.id }})">
</div>
<br>

<div class="fs-6">
  <div class="container-fluid text-sm-center">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">Exercise</th>
          <th scope="col">Reps per Set</th>
          <th scope="col">Weight Per Set</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      {% for exercise in exercises %}
      <tr class="align-middle">
        <td class="text-center">{{ exercise.name }}</td>
        <td class="text-center">{{ exercise.sets }}</td>
        <td class="text-center">{{ exercise.weight }}</td>
        <td class="text-center">
          <form class="form" action="/addsets" method="post" autocomplete="off">
            <input type="hidden" name="user" value="{{ user }}" />
            <input type="hidden" name="workoutId" value="{{ workoutId }}" />
            <input type="hidden" name="e_name" value="{{ exercise.name }}" />
            <input class="form-control form-control-sm mx-auto w-auto" id="sets" name="sets" type="text" placeholder="Reps Per Set" />
            <input class="form-control form-control-sm mx-auto w-auto" id="weight" name="weight" type="text" placeholder="Weight Per Set" />
            <button class="btn btn-primary mx-auto mt-2" id="set-submit" type="submit">Add Sets</button>
          </form>
        </td>
        <td class="text-center">
          <form class="form mt-2" action="/deletesets" method="post" onsubmit="return confirmDeleteSets()">
            <input type="hidden" name="e_id" value="{{ exercise.id }}" />
            <button class="btn btn-danger mx-auto" id="set-delete" type="submit">Delete Sets</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>

<script>
  // Changes the Heading of Each Workout
// var workoutNumber = {{ workoutNumber }};
// const changeHeading = (workoutNumber) => {
//     heading = document.getElementById("Workout");
//     heading.innerText = "Workout" + " " + workoutNumber;
// };
// changeHeading(workoutNumber);

function updateDate(id) {

  var newDate = document.getElementById("date").value;
  console.log("Date Changed Intiated")

    const xhr = new XMLHttpRequest();

    xhr.onreadystatechange = function () {  

        if (xhr.readyState == 4) {

            if (xhr.status == 200) {
                newDate = xhr.responseText;
                console.log("Date Succesfully Changed")
            }

            else {
                console.log("Error Making XML Request");
            }
        }
    };


    xhr.open('get', `/updateDate/${id}/?date=${newDate}`, true);
    xhr.send();
};
</script>
{% endblock %}
